<p> Intentos: <%= session[:intentos] %> </p>

<!--
<form action="<%= photos_path %>" method="post">
-->
<%= form_with model: @photo do |form| %>
    <!--
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    -->
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <!--
        <label for="title"> Titulo </label>
        <input type="text" name="photo[title]" id="title">
        -->
    </div>

    <div>
    <!--
        <%= select_tag :todo_id, raw("<option value='1'>Primer todo</option>")%>
    -->
    <!--
        <%= select_tag :todo_id, options_for_select([ ["Primer todo", 1], ["Segundo todo", 2] ]) %>
    -->
    <!--
        <%= select_tag :todo_id, options_from_collection_for_select(Todo.all, :id, :title) %>
    -->
    <!--
        <%= select_tag "photo[todo_id]", options_from_collection_for_select(Todo.all, :id, :title) %>
    -->
        <%= form.label :todo_id %>
        <%= form.collection_select(:todo_id, Todo.all, :id, :title, {include_blank: true}, {class:"custom"}) %>

    </div>
    <div>
        <%= form.check_box :is_public %>
    </div>

    <div>
        <%= form.label :image_url %>
        <%= form.url_field :image_url %>
        <!--
        <label for="image_url"> URL de la foto </label>
        <input type="url" name="photo[image_url]" id="image_url">
        -->
    </div>

    <%= form.submit "Enviar" %>
    <!--
    <input type="submit" name="submit" value="Enviar">
    -->
<%end%>