<!DOCTYPE html>
<html>
  <head>
    <title>Authenticator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav style="padding:10px;background-color:#eee;display:flex;gap:1em;">
    <li><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Fotos", photos_path %></li>
  </nav>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

    <%= yield :sidebar_options %>

    <%= yield %>
  </body>
</html>
